# -----------------------------------------
# ОБЩИЙ ФАЙЛ КОНФИГУРАЦИИ МИКРОСЕРВИСНОЙ АРХИТЕКТУРЫ
# -----------------------------------------
# Этот файл содержит все переменные окружения для всех сервисов
# с префиксами для избежания конфликтов имен.
# -----------------------------------------

# -----------------------------------------
# CORE НАСТРОЙКИ (ОБЩИЕ КОМПОНЕНТЫ)
# -----------------------------------------

# Kafka настройки
CORE_KAFKA_EXTERNAL_PORT=9092
CORE_KAFKA_INTERNAL_PORT=29092
CORE_KAFKA_CONTROLLER_PORT=29093
CORE_KAFKA_UI_PORT=8090

# -----------------------------------------
# INVENTORY СЕРВИС
# -----------------------------------------

# Окружение local, dev, prod
INVENTORY_APP_ENV=local

# gRPC настройки
INVENTORY_GRPC_HOST=localhost
INVENTORY_GRPC_PORT=12354
INVENTORY_SHUTDOWN_TIMEOUT=10s
INVENTORY_DB_READ_TIMEOUT=5s
INVENTORY_DB_WRITE_TIMEOUT=10s

# Логгер
INVENTORY_LOGGER_LEVEL=info
INVENTORY_LOGGER_AS_JSON=true

# MongoDB
INVENTORY_MONGO_IMAGE_NAME=mongo:7.0.5
INVENTORY_EXTERNAL_MONGO_PORT=235
INVENTORY_MONGO_HOST=localhost
INVENTORY_MONGO_PORT=2706
INVENTORY_MONGO_INITDB_DATABASE=blabla
INVENTORY_MONGO_PARTS_COLLECTION=blabla
INVENTORY_MONGO_AUTH_DB=blabla
INVENTORY_MONGO_INITDB_ROOT_USERNAME=blabla
INVENTORY_MONGO_INITDB_ROOT_PASSWORD=blabla

# -----------------------------------------
# ORDER СЕРВИС
# -----------------------------------------

# Окружение local, dev, prod
ORDER_APP_ENV=local

# gRPC клиенты
ORDER_INVENTORY_GRPC_HOST=localhost
ORDER_INVENTORY_GRPC_PORT=5235
ORDER_PAYMENT_GRPC_HOST=localhost
ORDER_PAYMENT_GRPC_PORT=5223

# HTTP сервер
ORDER_HTTP_HOST=localhost
ORDER_HTTP_PORT=8080
ORDER_HTTP_READ_TIMEOUT=5s
ORDER_SHUTDOWN_TIMEOUT=10s
ORDER_DB_READ_TIMEOUT=5s
ORDER_DB_WRITE_TIMEOUT=10s

# Kafka настройки
ORDER_KAFKA_BROKERS=localhost:9092
ORDER_ORDER_PAID_TOPIC_NAME=order.paid
ORDER_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
ORDER_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=order-group-order-assembled

# Логгер
ORDER_LOGGER_LEVEL=info
ORDER_LOGGER_AS_JSON=true

# PostgreSQL
ORDER_POSTGRES_HOST=localhost
ORDER_POSTGRES_PORT=4576
ORDER_EXTERNAL_POSTGRES_PORT=5647
ORDER_POSTGRES_USER=blabla
ORDER_POSTGRES_PASSWORD=blabla
ORDER_POSTGRES_DB=blabla
ORDER_POSTGRES_SSL_MODE=disable
ORDER_MIGRATION_DIRECTORY=./example/blabla

# -----------------------------------------
# PAYMENT СЕРВИС
# -----------------------------------------

# Окружение local, dev, prod
PAYMENT_APP_ENV=local

# gRPC сервер
PAYMENT_GRPC_HOST=localhost
PAYMENT_GRPC_PORT=1234
PAYMENT_SHUTDOWN_TIMEOUT=10s

# Логгер
PAYMENT_LOGGER_LEVEL=info
PAYMENT_LOGGER_AS_JSON=true

# -----------------------------------------
# ASSEMBLY СЕРВИС
# -----------------------------------------

# Kafka настройки
ASSEMBLY_KAFKA_BROKERS=localhost:9092
ASSEMBLY_ORDER_PAID_TOPIC_NAME=order.paid
ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID=assembly-group-order-paid
ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled

# Логгер
ASSEMBLY_LOGGER_LEVEL=info
ASSEMBLY_LOGGER_AS_JSON=true

# -----------------------------------------
# NOTIFICATION СЕРВИС
# -----------------------------------------

# Kafka настройки
NOTIFICATION_KAFKA_BROKERS=localhost:9092
NOTIFICATION_ORDER_PAID_TOPIC_NAME=order.paid
NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID=notification-group-order-paid
NOTIFICATION_ORDER_ASSEMBLED_TOPIC_NAME=order.assembled
NOTIFICATION_ORDER_ASSEMBLED_CONSUMER_GROUP_ID=notification-group-order-assembled

# Telegram бот
NOTIFICATION_TELEGRAM_BOT_TOKEN=8042070256:AAGjl1qVfIZB3kZ-oNWeLXC3q_wABpy9Zb4

# Логгер
NOTIFICATION_LOGGER_LEVEL=info
NOTIFICATION_LOGGER_AS_JSON=true
