# Игнорируем директории и файлы сборки
/bin
/build
/server

# Игнорируем кэш и модули, если они есть локально
/pkg
/vendor

# Игнорируем временные файлы редакторов
*.swp
*.swo
*.tmp

# Игнорируем скрытые системные файлы
.DS_Store
Thumbs.db

# Игнорируем VCS (Git)
.git
.gitignore

# Игнорируем файлы IDE
.idea
.vscode

# Игнорируем файлы логов
*.log
coverage
node_modules
.env