services:
  order:
    container_name: order
    build:
      context: ../../../
      dockerfile: order/cmd/order/Dockerfile
    depends_on:
      postgres-order:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${HTTP_PORT}:${HTTP_PORT}"
    volumes:
      - ../../../order/migrations:/app/migrations:ro
    networks:
      - microservices-net

  postgres-order:
    image: postgres:17.0-alpine3.20
    container_name: ${POSTGRES_HOST}
    env_file:
      - .env
    volumes:
      - postgres_order_data:/var/lib/postgresql/data
    ports:
      - "${EXTERNAL_POSTGRES_PORT}:${POSTGRES_PORT}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s  
      timeout: 5s    
      retries: 5  
    restart: unless-stopped
    networks:
      - microservices-net

volumes:
  postgres_order_data:

networks:
  microservices-net:
    external: true

