services:
  payment:
    container_name: payment
    build:
      context: ../../../
      dockerfile: payment/cmd/payment/Dockerfile
    env_file:
      - .env
    ports:
      - "${GRPC_PORT}:${GRPC_PORT}"
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true

