services:
  payment:
    container_name: payment
    build:
      context: ../../../
      dockerfile: payment/cmd/payment/Dockerfile
    env_file:
      - .env
    ports:
      - "${GRPC_PORT}:${GRPC_PORT}"
    healthcheck:
      test: ["CMD", "grpcurl", "-plaintext", "${GRPC_HOST}:${GRPC_PORT}", "grpc.health.v1.Health/Check"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true

